body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.pink{
    color: rgb(255, 0, 149);
    font-weight: normal;
    font-size: xx-large;
}

.loca:hover{
    transition: 0.2s all;
    background-color: rgb(244, 244, 244);
    cursor: pointer;
    border-radius: 10px;
}

.header{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}


/* center */

.center{
    background-color: #ebe9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

/* down section */
.downSection{
    display: relative;
    width: 90%;
    margin: 0 auto;
}

.downText{
    display: flex;
}


/* QR code box */

.img-box {
  position: relative;   /* parent */
  width: 200px;
  padding: 3px;
  border-radius: 5px;
  background-color: #ffffff;
}

.bg-img1 {
  width: 100%;
  height: 160px;
}

.top-img1 {
    position: absolute;   /* image on top */
    top: 65px;
    left: 85px;
    width: 30px;
    border-radius: 5px;
    background: #ffffff;
    padding: 5px;
    border-radius: 5px;
}


.qr-box {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: #ffc1ee;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 0px 30px;
    border-radius: 10px;
}

.text1{
    font-size: 35px;
    margin: 0;
    line-height: 1.2;
}

.pink{
    color: rgb(255, 0, 149);
    font-weight: bold;
}


/* card section */

.card-section{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card1{
    position: relative;
    width: 30%;
    background-color: rgb(214, 214, 214) ;
    border-radius: 10px;
}

.card1 img{
    width: 100%;
    height: 200px;
    display: block;
    border-radius: 10px;
}

.img-down-text{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px;
}
.img-down-text1{
    line-height: 0;
    color: gray;
    padding: 10px;
}


.fa-heart{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

