body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.pink{
    color: rgb(255, 0, 149);
    font-weight: normal;
    font-size: xx-large;
}

.loca:hover{
    transition: 0.2s all;
    background-color: rgb(244, 244, 244);
    cursor: pointer;
    border-radius: 10px;
}

.header{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}


/* center */

.center{
    background-color: #e2e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
}


















